.main-nav__wrapper {
  background-color: @blue;
  border: 2px solid green;
}
.site-list__item {
  font-size: @font+4px;
  line-height: 32px;
  font-weight: 700;
}
.link {
  text-transform: uppercase;
  color:@white;
  text-decoration: none;
    }
.main-nav__header{
  padding: 20px;
}
