.main-nav__wrapper {
  background-color: @blue;
}
.site-list__item {
  font-size: @font+4px;
  line-height: 32px;
  font-weight: 700;

  text-transform: uppercase;
  }
a {
  color:@white;
  text-decoration: none;
    }

