.page-main__act {
  background-color: @grey;
  font-size: @font;
  line-height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid green;
  position: relative;
  min-height: 800px;
}
.list-text {
  font-size: @font;
  line-height: 30px;
  text-align: center;
}
.item__text {
  text-align: center;
}
.page-main__iphone-screen {
  position: absolute;
  bottom: -15px;
}
