.page-header {
  display: flex;
  flex-direction: column;
}
.main-nav__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.site-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-nav__enter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.avialability-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}
.toggle {
  text-align: center;
}
.page-header__toggle {
  display: inline-block;
}
.page-header__text {
  text-align: center;
}
