@import 'normalize.less';
@import 'index__main-nav__wrapper';
@import 'index__main-nav__enter';
@import 'index__page-header__footer';
@import 'index__page-main__question';


@blue:#283645;

body {
  font-style: "OpenSans";
}
.visually-hidden {
    visibility: hidden;
     }
