@import 'normalize.less';
@import 'index__main-nav__wrapper';
@import 'index__main-nav__enter';
@import 'index__page-header__footer';
@import 'index__page-main__question';
@import 'index__page-main__act';
@import 'index__page-main__price-list';
@import 'index__price-list__toggles';
@import 'index__price__wrapper';
@import 'index__main-footer';
@import 'photo__page-main__foto';
@import 'photo__main-footer';
@import 'form__presonal-info__item';
@import 'form__page-main__achievements';
@import 'form__achievements-list';
@import 'form__attachments-name';
@import 'form__error';
@import 'index__reviews';
@import 'photo__page-header';
@import 'photo__page-main';
@import 'form__page-main__info';
@import 'form__page-main__communications';
@import 'form__page-main__emotions';



@blue: #283645;
@grey: #f2f2f2;
@white: #ffffff;
@red: #d22856;
@font: 14px;


html, body {
  font-family: 'OpenSans', sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 li {
  margin: 0;
  padding: 0;
 }
.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}
.visually-hidden {
    visibility: hidden;
}
